@font-face {
  font-family: "Space Grotesk";
  font-display: auto;
  font-weight: 300;
  src: local("Space Grotesk"), url("./fonts/SpaceGrotesk-Light.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  font-display: auto;
  font-weight: 400;
  src: local("Space Grotesk"), url("./fonts/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  font-display: auto;
  font-weight: 500;
  src: local("Space Grotesk"), url("./fonts/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  font-display: auto;
  font-weight: 600;
  src: local("Space Grotesk"), url("./fonts/SpaceGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  font-display: auto;
  font-weight: 700;
  src: local("Space Grotesk"), url("./fonts/SpaceGrotesk-Bold.ttf");
}
